
body {
  overflow-x: hidden;
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}

header {

  &.app-bar {

    .app-bar__title { color: #fff; }
  }
}

.app {

  .grid-item__link, .grid-item__icon {
    color: #fff;
  }
}
