
body {
  overflow-x: hidden;
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}

header {

  &.app-bar {

    .app-bar__title { color: #fff; }
  }
}

.search-bar {
  margin: 15px auto;
  text-align: center;
  color: #fff;

  &__field {

    label, input { color: #fff !important; }

    div:before, div:after { border-bottom: 1px solid #fff; }

    div:hover:before, div:hover:after { border-bottom: 2px solid #fff !important; }
  }
}

.app {

  .content {

    &__table {

      td { border-bottom: none; }

      &_pagination {

        span, div, svg { color: #fff; }
      }
    }

    &__text {
      margin-left: 30px;
      color: #fff;
    }

    &__progress {
      display: block;
      margin: 50px auto;
    }
  }
}

